Django>=4
requests
daphne
django-cors-headers
gunicorn
celery[redis]
autobahn
Twisted[tls,http2]
redis
Pillow
djangorestframework-xml
djangorestframework
channels
channels_redis
python-slugify
numpy
rest-pandas
django-filter
aiofiles
drf-spectacular[sidecar]
